
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    background-image: url(img/wallpaper.png);
    color: #18242e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 30px; 
    background: #0a0a0a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    margin-top: 15px;
}

header * {
    margin: 0; 
}

menu-toggle{
    display:none;

}

.topos-site{
    height: 100vh;
}

.topo-site .flex{
margin-top: auto;
}

.menu-desktop {
    font-size: 20px;
}


.logo-img img {
    width: 90px;
    height: auto;
    pointer-events: none;
    margin-top: 30px;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px; 
}

header nav ul li a:hover {
    border: 2px solid rgba(255, 255, 255, 0.8); 
    padding: 7px; 
    border-radius: 10px; 
}


.interface1 {
    margin-top: 200px;
    height: 90%;
    padding: 20px 10px;
    margin: 20px auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.418);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.flex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.titulo-topo {
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    color: #ffffff;
}

.img-jogo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.img-jogo img {
    border: solid 5px #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
    width: 62.5rem;  
    height: 500px; 
    object-fit: cover; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.img-jogo img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px #ffffffa4;
}

.imagens-alinhadas {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.imagens-alinhadas div {
    margin: 0 10px; 
}

.imagens-alinhadas img {
    width: 320px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 5px; 
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.imagens-alinhadas img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px #ffffffa4;
}

.titulo-sobre {
    padding-bottom: 500px;
    margin-top: 300px;
    height: 50vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 

    text-align: center; 
    color: #ffffff; 
}

.titulo-sobre h1 {
   
    font-size: 50px;
    height: auto;
    width: auto;
    text-align: left; 
    margin-right: 100px; 

}

.texto-sobre p {
    max-width: 800px;
    margin: 20px auto; /* Centraliza horizontalmente */
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.interface1 .flex{
    margin-top: 40px;
    margin-bottom: 10px;
}

.texto-sobre::after {
    content: ''; 
    display: inline-block;
    width: 100%; 
}

.baixar {
    background: #ffffff; 
    color: #000000; 
    padding: 20px 65px; 
    border: none; 
    border-radius: 15px;
    font-size: 16px; 
    text-decoration: none; 
    transition: background 0.3s;  
    margin-top: 10px; 
    text-align: center; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    margin-top: 20px;
}

.baixar:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); 
}

.baixar a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold; 
}

.baixar a:hover {
    color: #007BFF; 
}



.download {
    color: #ffffff;
    font-size: 30px;
    text-align: center; 
    margin: 10px 0; 
}

.descricao-baixar {
    margin-top: 10px; 
    color: #ffffff;
    font-size: 16px;
    text-align: center; 
}

.baixar-jogo {
    margin-top: 20px;
    font-size: 20px;
    background-color: #d4d4d4;
    color: #000000;
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    display: inline-block; 
}

.baixar-jogo:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); 
}

.baixar-jogo a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold; 
}

.baixar-jogo a:hover {
    color: #007BFF; 
}

.interface3 {
    margin-top: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 70vh; 
    background: rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.entre-contato {
    color: #ffffff;
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
}

form {
    max-width: 500px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

form input,
form textarea {
    max-width: 100%; 
    padding: 15px; 
    border: 1px solid #007BFF; 
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.8); 
    color: #18242e; 
    margin-bottom: 15px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
    width: 100%; 
}

form textarea {
    height: 150px; 
    resize: vertical; 
}

form label {
    color: #ffffff; 
    margin-bottom: 5px; 
    font-weight: bold; 
    display: block; 
}
.menu-toggle {
    display: none; 
}

form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff; 
    color: #000000; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    font-weight: bold;
    display: block; 
    width: 50%; 
    font-size: 16px; 
    margin: 10px auto 0; 
}

form button:hover {
    color: #007BFF; 
    transform: translateY(-2px); 
}

footer {
    color: #ffffff; 
    text-align: center; 
    padding: 10px 0; 

    position: relative; 
    margin-top: 50px; 
}

footer a {
    color: #007BFF; 
    text-decoration: none; 
}




@media screen and (max-width: 768px) {
    
    body {
        overflow-x: hidden; 
    }
    
    .flex{
        display: block;
        
    }

    

    header {
        height: 60px; 
        background: #0a0a0a8a;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        padding: 0 20px; 
        margin-top: 15px;
    }


    
  

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .menu-desktop.active {
        left: 0;
    }
    
    .menu-desktop ul {
        display: flex;
        font-size: 4vw;
        margin-left: 3rem;
        margin-right: 6rem;
        text-align: justify;
    }
    
    .menu-desktop ul li {
        padding: 0 15px;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .menu-desktop {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.9);
        transition: left 0.3s ease;
        padding-top: 60px;
        z-index: 1000;
    }
    
    .menu-desktop.active {
        left: 0;
    }
    
    .menu-desktop ul {
        flex-direction: column;
        padding: 0;
    }
    
    .menu-desktop ul li {
        padding: 20px;
        text-align: center;
    }
    
    .topo-site {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .img-jogo {
        margin-top: 1rem;
        font-size: 4vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: justify;
        width: 28rem;
    }
    
    .img-jogo img {
        border: solid 1px #ffffff;
        border-radius: 3px;
    }
    
    .titulo-topo,
    .download h2 {
        font-size: 3vw;
    }
    
    .logo-img {
        flex: 1;
        text-align: center;
    }
    
    .titulo-topo {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    .img-jogo {
        width: 90%;
        max-width: 28rem;
    }
    
    .img-jogo img {
        width: 70%;
        height: auto;
    }
    
    .imagens-alinhadas img {
        width: 5rem;
        height: 90%;
        margin-top: 1rem;
        font-size: 4vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: justify;
    }
    
    .cta-button {
        padding: 40px 3px;
        font-size: 10px;
    }
    
    .baixar {
        text-align: center;
        margin-top: 3rem;
        padding: 10px 50px;
    }
    
    .baixar a {
        display: inline-block;
        font-size: 15px;
        padding: 1px 3px;
    }
    
    .interface1 .flex {
        height: 7rem;
        margin-bottom: 12rem;
    }
    
    .titulo-sobre h1 {
        margin-top: 1rem;
        font-size: 7vw;
        text-align: center;
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
    
    .texto-sobre p {
        margin-top: 1rem;
        font-size: 4vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: justify;
    }
    
    .download h2 {
        margin-top: 1rem;
        font-size: 7vw;
        text-align: center;
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
    }
    
    .interface2 .flex{
        margin-top: 5rem;
        height: 20vh;
    }

    .descricao-baixar {
        margin-top: 1rem;
        font-size: 4vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: center;
    }
    
    .baixar-jogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 20px;
        background-color: #d4d4d4;
        color: #000000;
        padding: 15px 30px;
        text-align: center;
        border-radius: 10px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 3px;
    }
    
    .entre-contato {
        margin-top: 1rem;
        font-size: 6vw;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: center;
    }
    
    form {
        margin-top: 1rem;
        font-size: 4vw;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        text-align: justify;
    }
}    