
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

.container {
    max-width: 1000px; /* Largura máxima de 1000px */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding: 20px; /* Padding interno do contêiner */
}



.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    background-image: url(img/wallpaper.png);
    color: #18242e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    height: 30px; 
    background: #0a0a0a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    margin-top: 15px;
}

header * {
    margin: 0; 
}

menu-toggle{
    display:none;

}

.topos-site{
    height: 100vh;
}

.topo-site .flex{
margin-top: auto;
}

.menu-desktop {
    font-size: 20px;
}


.logo-img img {
    width: 90px;
    height: auto;
    pointer-events: none;
    margin-top: 30px;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    display: inline-block;
    transition: .2s;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px; 
}

header nav ul li a:hover {
    border: 2px solid rgba(255, 255, 255, 0.8); 
    padding: 7px; 
    border-radius: 10px; 
}


.interface1 {
    margin-top: 200px;
    height: 90%;
    padding: 20px 10px;
    margin: 20px auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.418);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.flex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.titulo-topo {
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    color: #ffffff;
}

.img-jogo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.img-jogo img {
    border: solid 5px #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
    width: 62.5rem;  
    height: 500px; 
    object-fit: cover; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.img-jogo img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px #ffffffa4;
}

.imagens-alinhadas {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.imagens-alinhadas div {
    margin: 0 10px; 
}

.imagens-alinhadas img {
    width: 320px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 5px; 
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.imagens-alinhadas img:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px #ffffffa4;
}

.titulo-sobre {

    height: 50vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 

    text-align: center; 
    color: #ffffff; 
}

.titulo-sobre h1 {
   
    font-size: 50px;
    height: auto;
    width: auto;
    text-align: left; 
    margin-right: 100px; 

}

.texto-sobre p {
    max-width: 800px;
    margin: 20px auto; /* Centraliza horizontalmente */
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.interface1 .flex{
    margin-top: 40px;
    margin-bottom: 10px;
}

.texto-sobre::after {
    content: ''; 
    display: inline-block;
    width: 100%; 
}

.baixar {
    background: #ffffff; 
    color: #000000; 
    padding: 20px 65px; 
    border: none; 
    border-radius: 15px;
    font-size: 16px; 
    text-decoration: none; 
    transition: background 0.3s;  
    margin-top: 10px; 
    text-align: center; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    margin-top: 20px;
}

.baixar:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); 
}

.baixar a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold; 
}

.baixar a:hover {
    color: #007BFF; 
}



.download {
    color: #ffffff;
    font-size: 30px;
    text-align: center; 
    margin: 10px 0; 
}

.descricao-baixar {
    margin-top: 10px; 
    color: #ffffff;
    font-size: 16px;
    text-align: center; 
}

.baixar-jogo {
    margin-top: 20px;
    font-size: 20px;
    background-color: #d4d4d4;
    color: #000000;
    padding: 15px 30px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
    display: inline-block; 
}

.baixar-jogo:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.6); 
}

.baixar-jogo a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold; 
}

.baixar-jogo a:hover {
    color: #007BFF; 
}

.interface3 {
    margin-top: 100px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 70vh; 
    background: rgba(0, 0, 0, 0.247);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.entre-contato {
    color: #ffffff;
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
}

form {
    max-width: 500px; 
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

form input,
form textarea {
    max-width: 100%; 
    padding: 15px; 
    border: 1px solid #007BFF; 
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.8); 
    color: #18242e; 
    margin-bottom: 15px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
    width: 100%; 
}

form textarea {
    height: 150px; 
    resize: vertical; 
}

form label {
    color: #ffffff; 
    margin-bottom: 5px; 
    font-weight: bold; 
    display: block; 
}
.menu-toggle {
    display: none; 
}

form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff; 
    color: #000000; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    font-weight: bold;
    display: block; 
    width: 50%; 
    font-size: 16px; 
    margin: 10px auto 0; 
}

form button:hover {
    color: #007BFF; 
    transform: translateY(-2px); 
}

footer {
    color: #ffffff; 
    text-align: center; 
    padding: 10px 0; 

    position: relative; 
    margin-top: 50px; 
}

footer a {
    color: #007BFF; 
    text-decoration: none; 
}



.menu-toggle {
    display: none; 
}

.menu-close {
   display: none;
}


@media screen and (max-width: 384px) {
    

    .menu-close {
        position: absolute; 
        top: 2%; 
        right: 2%; 
        background: none; 
        border: none; 
        color: #fff; 
        font-size: 2rem; 
        cursor: pointer; 
        transition: transform 0.3s ease; 
    }
    

    .menu-close:hover {
        transform: scale(1.2); 
    }
    

    .menu-close:focus {
        outline: none; 
    }
    
    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .menu-desktop {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 100VW;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.9);
        transition: left 0.3s ease;
        padding-top: 3.75rem;
        z-index: 1000;
    }
    
    .menu-desktop.active {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(10, 10, 10, 0.9); 
        z-index: 1000; 
        overflow-y: auto; 
    }
    
    .menu-desktop ul {
        display: flex;
        flex-direction: column; 
        font-size: 4vw; 
        margin: 0; 
        padding: 0; 
        text-align: center; 
        
    }
    

    .menu-desktop ul li:last-child {
        border-bottom: none; 
    }

    .menu-desktop ul li {
        padding: 1.25rem; 
        text-align: center;
    }
    
    .menu-desktop.active ul {
        display: flex;  
        transition: opacity 0.3s ease-in-out; 
        opacity: 1; 
    }

    
    .menu-desktop.active .menu-close {
        display: block;
    }


    body {
        font-size: 0.625vw;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1rem;
        margin: 1rem;
    }
    
    .img-jogo img{
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .titulo-topo{
        font-size: 3vw;
        margin: 0.5rem;
        align-items: center;
        display: flex;
    }


    .baixar {
        padding:1.5rem 5.5rem;
      }

    .imagens-alinhadas{
        display: none;
    }


    .baixar {

        padding: 0.625rem 2.5rem;
      }

    .sobre_container{

        width: 90%; 
        margin: 0 auto;
        padding: 1rem;
        
    }

    .sobre_container h1{
       
        font-size: 5vw;
        margin: 0.5rem;
    }
    

    .sobre_container p{
        font-size:3.8vw;
        margin:0.5rem
    }

    .interface1{
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .titulo-sobre{
        display:flex;
    }

    .baixar-aqui_container{
        margin:1rem;
    }


    .baixar-aqui_container h2{
        font-size: 7vw;

    }

    .baixar-aqui_container p {
        font-size: 4vw;
    }

    .baixar-jogo {
        font-size: 3.5vw;
        padding: 10px 20px;
        margin: 1rem;
      }


    .contato_container{
        padding: 2.5rem;
        margin: 1rem;
    }

    .entre-contato{
        font-size: 5vw;
        margin: 1rem;
    }

    .entre-contato h2{
        white-space: pre-line;
    }


    footer{
        margin: 1rem;
    }

}



@media screen and (max-width: 768px) {
    
    .menu-close {
        position: absolute; 
        top: 2%; 
        right: 2%; 
        background: none; 
        border: none; 
        color: #fff; 
        font-size: 2rem; 
        cursor: pointer; 
        transition: transform 0.3s ease; 
    }
    

    .menu-close:hover {
        transform: scale(1.2); 
    }
    

    .menu-close:focus {
        outline: none; 
    }
    
    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .menu-desktop {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 100VW;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.9);
        transition: left 0.3s ease;
        padding-top: 3.75rem;
        z-index: 1000;
    }
    
    .menu-desktop.active {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(10, 10, 10, 0.9); 
        z-index: 1000; 
        overflow-y: auto; 
    }
    
    .menu-desktop ul {
        display: flex;
        flex-direction: column; 
        font-size: 4vw; 
        margin: 0; 
        padding: 0; 
        text-align: center; 
        
    }
    

    .menu-desktop ul li:last-child {
        border-bottom: none; 
    }

    .menu-desktop ul li {
        padding: 1.25rem; 
        text-align: center;
    }
    
    .menu-desktop.active ul {
        display: flex;  
        transition: opacity 0.3s ease-in-out; 
        opacity: 1; 
    }

    
    .menu-desktop.active .menu-close {
        display: block;
    }
    
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
      }

      
    body {
        font-size: 3vw;
     }


 
    
    .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    }
      
    .img-jogo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .titulo-topo {
        font-size: 3vw;
        margin: 0.5rem;
        align-items: center;
        display: flex;
    }

    .titulo-topo h1{
        padding: 1rem;
        margin: 1rem;
    }

    .imagens-alinhadas {
        display: none;
    }

    .baixar {
        padding: 0.625rem 2.5rem;
    }

    .sobre_container {
        width: 95%;
        margin: 0 auto;
        margin: 1rem;
    }

    .sobre_container h1 {
        font-size: 3.6vw;

    }

    .sobre_container p {
        font-size: 2.5vw;
       
    }

    .baixar-aqui_container {
        margin: 1rem;
        width: 95%;
    }

    .baixar-aqui_container h2 {
        font-size: 6vw;
    }

    .baixar-aqui_container p {
        font-size: 3.5vw;
    }

    .baixar-jogo {
        font-size: 3.5vw;
        padding: 10px 20px;
        margin: 1rem;
    }

    .contato_container {
        padding: 2.5rem;
        margin: 1rem;
        width: 95%;
    }

    .entre-contato {
        font-size: 4vw;
        margin: 1rem;
    }

    footer {
        margin: 1rem;
    }


}

@media screen and (max-width: 1080px) {
    

    .menu-close {
        position: absolute; 
        top: 2%; 
        right: 2%; 
        background: none; 
        border: none; 
        color: #fff; 
        font-size: 2rem; 
        cursor: pointer; 
        transition: transform 0.3s ease; 
    }
    

    .menu-close:hover {
        transform: scale(1.2); 
    }
    

    .menu-close:focus {
        outline: none; 
    }
    
    .menu-toggle {
        display: block; 
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .menu-desktop {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 100VW;
        height: 100%;
        background-color: rgba(10, 10, 10, 0.9);
        transition: left 0.3s ease;
        padding-top: 3.75rem;
        z-index: 1000;
    }
    
    .menu-desktop.active {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        background-color: rgba(10, 10, 10, 0.9); 
        z-index: 1000; 
        overflow-y: auto; 
    }
    
    .menu-desktop ul {
        display: flex;
        flex-direction: column; 
        font-size: 4vw; 
        margin: 0; 
        padding: 0; 
        text-align: center; 
        
    }
    

    .menu-desktop ul li:last-child {
        border-bottom: none; 
    }

    .menu-desktop ul li {
        padding: 1.25rem; 
        text-align: center;
    }
    
    .menu-desktop.active ul {
        display: flex;  
        transition: opacity 0.3s ease-in-out; 
        opacity: 1; 
    }

    
    .menu-desktop.active .menu-close {
        display: block;
    }
    
    
    .container {
        width: 90%; 
        margin: 0 auto; 

      }

    .titulo-topo {
        font-size: 3vw;
        margin: 0.5rem;
        align-items: center;
        display: flex;
     }

     .titulo-topo h1{
        margin:1rem;
    }

      .img-jogo img {
        margin:1rem;
        object-fit: cover;
        width: 90%;
    }

    .imagens-alinhadas img {
        width: 15rem;
        height: 14rem;
      }

      .baixar {
        padding:1.5rem 5.5rem;
      }

      .sobre_container {
         width: 90%; 
         margin: 0 auto; 
      }

      .sobre_container h1 {
        font-size: 5vw;
      }

    .sobre_container p {
        font-size: 2.1vw;
        margin: 0.5rem;
    }
    
    .baixar-aqui_container {
        width: 90%; 
        margin: 0 auto; 
     }

    .baixar-aqui_container h2 {
        font-size: 6vw;
      }
    
    .baixar-aqui_container p {
        font-size: 2vw;
    }

    .baixar-jogo {
        font-size: 2vw;
        padding: 1rem 1rem;
        margin: 1rem;
      }

    .contato_container {
        width: 90%; 
        margin: 0 auto; 
      }

    .interface3{
        margin:2rem;
    }

    .entre-contato {
        font-size: 3.5vw;
        margin: 1rem;
    }

    .entre-contato h2{
        margin:1rem;
    }

} 
